{% extends "./Temp/base.html" %}
{% block title %}Homepage{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
 {% include './Temp/head2.html' %}
 <div class="ui headback ">
 <br><br><br><br><br><br><br><br><br><br><br><br><br>
    <div class="ui internally celled grid container">

    <div class="row">

    <div class="ui middle aligned ten column centered grid">
            <div class="row">
      <div class="sixteen wide column">
        <h2 class="ui header">
        <img src="/static/img/user01.png" class="ui  circular huge image">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           尼古拉斯·凯亮
        </h2>
      </div>

    </div>
</div>

    </div>

  <div class="row">
    <div class="three wide column">

    </div>
    <div class="ten wide column">



      <div class="ui top attached tabular menu">
          <a class="item active" data-tab="first">主页</a>
          <a class="item  " data-tab="second">说说</a>
          <a class="item " data-tab="third">相册</a>
          <a class="item  " data-tab="four">个人资料卡</a>
    </div>


{#"/static/img/logo.png"#}
{#主页#}

<div class="ui bottom attached  active tab   segment" data-tab="first">

{% for i in range(0,4) %}
    <div class="ui fluid card">
  <div class="content">
    <div class="right floated meta">14h</div>
    <img class="ui avatar image" src="/static/img/logo.png"> Elliot
  </div>
  <div class="image">
    <img src="/static/img/back1.jpg">
  </div>

           <div class="description">
      <p>Hello world</p>
      <p>Hello world Hello world Hello world Hello world Hello world Hello world</p>
    </div>
{#         <div class="content">#}
{#             <p>Hello world!!!!</p>#}
{#         </div>#}
  <div class="content">
    <span class="right floated">
      <i class="heart outline like icon"></i>
      17 likes
    </span>
    <i class="comment icon"></i>
    3 comments
  </div>
</div>

    <div class="card_class"></div>

{% endfor %}

</div>




{#说说     #}
<div class="ui bottom attached   tab segment" data-tab="second">
        <div class="ui   form">
                  <div class="field">
                      <br>
                   <h2 class="ui header">
                  <i class="write icon"></i>
                  <div class="content">
                   写说说
                      <div class="sub header">所感所想皆为远方</div>
                  </div>
                </h2>
                      <br><br>
                    <textarea rows="20"></textarea>
                  </div>
        </div>

    <br><br>
<div class="ui grid">
    <div class="one wide column"></div>
    <div class="four wide column">
        <button class="ui icon button" onclick="myFunction()">
   <i class="send icon"></i>发送
        </button>
    </div>

    <div class="six wide column"></div>
    <div class="four wide column">
    <button class="ui icon button" onclick="myFunction()">
    <i class="camera retro icon"></i>
        上传照片
    </button>
        </div>
</div>

    <br><br><br><br><br><br><br><br>
</div>


{#相册#}
<div class="ui bottom attached tab segment active" data-tab="third">
  相册
</div>



{#个人#}
<div class="ui bottom attached tab segment active" data-tab="four">
    <br><br>
<div class="ui centered card">
  <div class="image">
    <img src="/static/img/user01.png">
  </div>
  <div class="content">
    <a class="header">尼古拉斯·凯亮</a>
    <div class="meta">
      <span class="date">Joined in 2013</span>
    </div>
    <div class="description">
      个人介绍个人介绍个人介绍个人介绍个人介绍个人介绍个人介绍个人介绍个人介绍个人介绍个人介绍个人介绍个人介绍个人介绍个人介绍个人介绍
    </div>
  </div>
  <div class="extra content">
    <a>
      <i class="user icon"></i>
      22 Friends
    </a>
  </div>
</div>
        <br><br>
</div>

        </div>
        <div class="three wide column">
        </div>
      </div>
    </div>
 </div>


    <div class="ui basic modal">
  <div class="ui icon header">
    <i class="add circle icon"></i>
    提示
  </div>
  <div class="content">
    <p>是否上传照片？:)</p>
  </div>
  <div class="actions">
    <div class="ui red basic cancel inverted button">
      <i class="remove icon"></i>
      否
    </div>
    <div class="ui green ok inverted button">
      <i class="checkmark icon"></i>
      是
    </div>
  </div>
</div>


    <style>
body{
      background-image: url('/static/img/back7.jpg') !important;
        background-size: cover !important;
         background-repeat:no-repeat;
        background-attachment:fixed;
}
    .headback{
        position:relative;
        height: 80%;


    }
    .card_class{
        height: 10px;
        width: 100%;
    }
    .ui.middle.aligned.ten.column.centered.grid{
      position:relative;
      bottom: 1em;
    }

    .ui.internally.celled.grid.container{
       position:relative;
        top: 0em;
    }

    </style>


    <script type="text/javascript">

    function myFunction() {
      $('.ui.basic.modal')
          .modal('show')
        ;
    }



    $('.menu .item')
      .tab()
    ;


    function click_scroll() {
      var scroll_offset = $("#find1").offset().top;
      $("body,html").animate({
        // 让body的scrollTop等于div3的top，就实现了滚动
        scrollTop:scroll_offset
      },1000);
    }


        $('.ui.headback')
            .transition({
            animation :'fly down in',
            duration  : 2000,
            interval  : 200
            });

         $('.son.huge.header')
           .transition('set looping')
            .transition('tada', '3000ms');

          $('.angle.double.down.icon')
           .transition('set looping')
            .transition('bounce', '2000ms');
    </script>
{% endblock %}
