    <div class="ui container">
<div class="ui blue fixed  fitted inverted  ten item menu">
    <a href="#" class="left item">
        <h1 class="ui header">
            <img class="ui bordered circular image" src="/static/img/logo.png" alt="" />
        </h1>
        <div class="content large ">联大空间</div>
    </a>
    <div  class="column item"></div>
    <a href="#" class="column item">登录</a>

    <a href="#" class="column  item">注册</a>



</div>
    </div>
    <script type="text/javascript">
      $('.ui.bordered.circular.image')
        .transition('swing left in');
    </script>
